## Apriori Algorithm

### This is the part of Data Mining project

We're going to examine movies using our understanding of association rules, to find movies that "go together". For this part, you will implement the apriori algorithm, and apply it to a movie rating dataset. We'll use the [MovieLens](https://grouplens.org/datasets/movielens/) dataset.

First, run the next cell to load the dataset we are going to use.

In [10]:
import urllib3
import zipfile

http = urllib3.PoolManager()
req = http.request("GET", "https://files.grouplens.org/datasets/movielens/ml-latest-small.zip", preload_content=False)

with open("movie.zip", 'wb') as out:
  while True:
    data = req.read(4096)
    if not data:
      break
    out.write(data)
req.release_conn()

zFile = zipfile.ZipFile("movie.zip", "r")
for fileM in zFile.namelist():
  zFile.extract(fileM)

In [11]:
!ls ml-latest-small/

README.txt  links.csv   movies.csv  ratings.csv tags.csv

In this dataset, there are four columns: `userId` is the integer ids of users, `movieId` is the integer ids of movies, `rating` is the rate of the user gives to the movie, and `timestamp` which we do not use here. Each row denotes that the user of given `userId` rated the movie of the given `movieId`. We are going to treat each user as a "basket", so you will need to collect all the movies that have been rated by a single user as a basket. 

Now, you need to implement the apriori algorithm and apply it to this dataset to find association rules of user rating behaviors where:

1. Define `rating` >= 3 is "like" (that is, only consider movie ratings of 3 or higher in your baskets; you may ignore all others)
2. `minsup` == 40 (out of 600 users/baskets); we may adjust this based on the discussion on Campuswire
3. `minconf` == to be determined by a discussion on Campuswire. You may try several different choices, but we will converge on a good choice for everyone for the final submission.
 
We know there are many existing implementations of apriori online (check github for some good starting points). You are welcome to read existing codebases and let that inform your approach. Do not copy-paste any existing code. We want your code to have sufficient comments to explain your steps, to show us that you really know what you are doing. Furthermore, you should add print statements to print out the intermediate steps of your method -- e.g., the size of the candidate set at each step of the method, the size of the filtered set, and any other important information you think will highlight the method. 

To help get you started, we can load the ratings with the following code snippet:

In [12]:
from IPython import get_ipython
get_ipython().magic('reset -sf') 

import pandas as pd
# read user ratings
allRatings = pd.read_csv("ml-latest-small/ratings.csv")
allRatings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

### Step 1: Implement Apriori Algorithm
In this section, you need to implement the Apriori algorithm, we will check the correctness of your code and we encourage efficient implementation and skills of pruning.

In [13]:
liked_movies = allRatings[allRatings['rating'] >=3 ]
print("The total row of the Original allRatings : ", len(allRatings))
print("Only consider rating >= 3                : ", len(liked_movies))

l = liked_movies.groupby('userId').movieId.apply(list)

The total row of the Original allRatings :  100836
Only consider rating >= 3                :  81763

In [14]:
from nltk import flatten
import itertools

def subsets(numbers):
    if numbers == []:
        return [[]]
    x = subsets(numbers[1:])
    
    return x + [[numbers[0]] + y for y in x]
 
# wrapper function
def subsets_of_given_size(numbers, n):
    return [x for x in subsets(numbers) if len(x)==n]

def apriori_implementation(result, sub_size, pruned_sets, t, prev, minsup, list_l, df_ft):    

    result_len = len(result)
    
    # PRUNING APPLIES BEFORE COUNTING FREQUENT SETS
    # WHEN THE SIZE OF THE SUBSET IS 1, I REMOVE THE ITEM FROM THE TRANSACTION LIST IF IT IS NOT FREQUENT
    # SO PRUNING STARTS AT THE SUBSET SIZE 3
    # THE PARAMETER "PRUNED_SETS" CONTAINS ITEMS THAT ARE NOT FREQUENT
    if (sub_size >= 3):
        for j in pruned_sets:
            index = 0
            count = 0
            while(count < result_len):
                set1 = set(j)
                set2 = set(result[index])
                if(set1.issubset(set2)):
                    result.remove(result[index])
                    result_len = result_len - 1
                index = index + 1
                count = count + 1
    freq = [0] * len(result)

    index = 0 
    
    # COUNTING FREQUENCIES
    for i in result:
        for j in list_l:
            if isinstance(i, list):
                set1 = set(i)
                set2 = set(j) 
                if(set1.issubset(set2)):
                    freq[index] = freq[index] + 1            
            else:
                if i in j:
                    freq[index] = freq[index] + 1   
            
        index = index + 1
    


    index = 0
    
    # APPEND TO DATAFRAME 
    # ID | SUPPORT | FREQUENCIES
    for i in freq:        
        if (i>=minsup):
            t_pd= pd.DataFrame({'ID': [str(result[index])], 'Support': ["{:.4f}".format(i/t)], 'Freq':i})
            df_ft = df_ft.append(t_pd)
            
            if (sub_size != 2):
                prev.append(result[index])
        index = index + 1
    

    # IF THERE IS NO 
    if(len(result) == 0):
        return result, pruned_sets , prev, df_ft

    # IF ITEMS ARE NOT FREQUENT, APPEND THEM TO PRUNED_SETS
    # WE ARE GOING TO USE THE VARIABLE WHEN WE PRUNE ITEMS
    index = 0    
    for i in freq:
        if ( i < minsup):
            if (sub_size == 2):
                result.remove(result[index])
                index = index - 1
            else:           
                pruned_sets.append(result[index])
        index = index + 1
        

    # WHEN THE SIZE OF THE SUBSET IS 2, JOIN THOSE FREQUENT ITEMS
    if (sub_size > 2):
        index = 0
        r_l = len(result)
        new_result = []
        
        for i in range (0, r_l, 1):
            for j in range (i+1, r_l, 1):
                a = set(result[i])
                b = set(result[j])    
                sub_list = list(a.union(b))
                
                if(len(sub_list) == sub_size):
                        new_result.append(sub_list)
        
        new_result.sort()
        
        return list(new_result for new_result,_ in itertools.groupby(new_result)),pruned_sets, prev, df_ft

    else:
        final = list(itertools.combinations(result, sub_size))
        for i in range(len(final)):
            final[i] = list(final[i])
    
    return final, pruned_sets, prev, df_ft

def apriori_data_preprocess(transactions):

    transactions = transactions.values.tolist()

    each_items = sum(transactions, [])

    each_items = list(set(each_items))

    each_items.sort()

    total_result = len(transactions)
    
    return each_items, total_result, transactions

#item_sets, total_item_len, list_l = apriori_data_preprocess(l)

def apriori_(transactions, minsup):
    
    each_items, t, list_l = apriori_data_preprocess(transactions)
    
    sub_size = 2

    pruned_list = []

    prev = []

    df_ft= pd.DataFrame()

    f, pruned_list, prev, df_ft = apriori_implementation(each_items, sub_size, pruned_list, t, prev, minsup, list_l, df_ft)

    while (len(f) > 0):
        sub_size = sub_size + 1        
        f ,pruned_list, prev, df_ft = apriori_implementation(f, sub_size, pruned_list, t, prev, minsup, list_l, df_ft)    
        
    return df_ft, prev

In [15]:
minsup = 150

df_ft, prev = apriori_(l, minsup)

In [16]:
df_ft

                 ID Support  Freq
0                 1  0.3268   199
0                32  0.2808   171
0                47  0.3136   191
0                50  0.3235   197
0               110  0.3580   218
..              ...     ...   ...
0      [4993, 5952]  0.2545   155
0      [4993, 7153]  0.2545   155
0      [5952, 7153]  0.2463   150
0   [296, 356, 318]  0.2644   161
0   [296, 593, 318]  0.2479   151

[69 rows x 3 columns]

### Step 2: Print Your Association Rules

Next you should print your final association rules in the following format:

**movie_name_1, movie_name_2, ... --> 
movie_name_k**

where the movie names can be fetched by joining the movieId with the file `movies.csv`. For example, one rule that you might find is:

**Matrix, The (1999),  Star Wars: Episode V - The Empire Strikes Back (1980),  Star Wars: Episode IV - A New Hope (1977),  -> 
Star Wars: Episode VI - Return of the Jedi (1983)**

In [17]:
# your code here
movies = pd.read_csv('ml-latest-small/movies.csv')

def Association_Rules(frequent_lists, minconf):
    
    for i in frequent_lists:
        association_list = []
        for j in range (1,len(i), 1):
            association_list = association_list + (subsets_of_given_size(i,j))

        for j in association_list:
            if(len(j) == 1):
                    bottom = df_ft[df_ft['ID'] == str(j[0])]['Freq']
            else:
                    j.sort()
                    bottom = df_ft[df_ft['ID'] == str(j)]['Freq']                    
        
            if (len(bottom) != 0):
                bottom = float(bottom)
            else:
                bottom = 0
                
            up = float(df_ft[df_ft['ID'] == str(i)]['Freq'])

            if(bottom != 0):
                if (up/bottom > minconf):
                    s_r = ''
                    s_l = ''
                    for m_id in list(set(i) - set(j)):
                        s_r += str(movies[movies['movieId']==m_id]['title'].to_string(index=False))
                
                    for m_id in j:
                        s_l += str(movies[movies['movieId']==m_id]['title'].to_string(index=False))
                    print(s_l, " -> ", s_r)

In [18]:
minconf = 0.8

Association_Rules(prev, minconf)

 Seven (a.k.a. Se7en) (1995)  ->   Pulp Fiction (1994)
 Apollo 13 (1995)  ->   Forrest Gump (1994)
 Star Wars: Episode V - The Empire Strikes Back...  ->   Star Wars: Episode IV - A New Hope (1977)
 Star Wars: Episode VI - Return of the Jedi (1983)  ->   Star Wars: Episode IV - A New Hope (1977)
 Jurassic Park (1993)  ->   Forrest Gump (1994)
 Star Wars: Episode VI - Return of the Jedi (1983)  ->   Star Wars: Episode V - The Empire Strikes Back...
 Lord of the Rings: The Two Towers, The (2002)  ->   Lord of the Rings: The Fellowship of the Ring,...
 Lord of the Rings: The Fellowship of the Ring,...  ->   Lord of the Rings: The Two Towers, The (2002)
 Lord of the Rings: The Return of the King, The...  ->   Lord of the Rings: The Fellowship of the Ring,...
 Lord of the Rings: The Fellowship of the Ring,...  ->   Lord of the Rings: The Return of the King, The...
 Lord of the Rings: The Return of the King, The...  ->   Lord of the Rings: The Two Towers, The (2002)
 Lord of the Rings: The Two Towers, The (2002)  ->   Lord of the Rings: The Return of the King, The...
 Shawshank Redemption, The (1994) Silence of the Lambs, The (1991)  ->   Pulp Fiction (1994)
 Pulp Fiction (1994) Silence of the Lambs, The (1991)  ->   Shawshank Redemption, The (1994)

### Step 3: Implement Random Sampling

We discussed in class a method to randomly sample baskets to avoid the overhead of reading the entire set of baskets (which in practice, could amount to billions of baskets). For this part, you should implement such a random sampling approach that takes a special parameter **alpha** that controls the size of the sample: e.g., alpha = 0.10 means to sample 10% of the baskets (our users, in this case). 

Vary **alpha** and report the number of frequent itemsets you find and how this compares to the number of frequent itemsets in the entire dataset. What do you discover?

In [19]:
# your code here
import numpy as np
import pandas as pd
def apriori_random_sampled(alpha, minsup):

    random_state=np.random.RandomState(123)

    allRatings = pd.read_csv("ml-latest-small/ratings.csv")

    allRatings = allRatings.sample(frac= alpha, random_state = random_state )

    liked_movies = allRatings[allRatings['rating'] >=3 ]
    
    l = liked_movies.groupby('userId').movieId.apply(list)
    
    new_result, p = apriori_(l, minsup) 
    
    return new_result

In [20]:
alpha = .1
minsup = 150

frequent_items = apriori_random_sampled(alpha,minsup)
print("Total frequent items: ", len(frequent_items))
print(frequent_items)

Total frequent items:  0
Empty DataFrame
Columns: []
Index: []

In [21]:
alpha = .5

frequent_items = apriori_random_sampled(alpha,minsup)
print("Total frequent items: ", len(frequent_items))
print(frequent_items)

Total frequent items:  1
    ID Support  Freq
0  318  0.2841   173

In [22]:
alpha = .6

frequent_items = apriori_random_sampled(alpha,minsup)
print("Total frequent items: ", len(frequent_items))
print(frequent_items)

Total frequent items:  4
    ID Support  Freq
0  296  0.2939   179
0  318  0.3350   204
0  356  0.2989   182
0  593  0.2611   159

In [23]:
alpha = .8

frequent_items = apriori_random_sampled(alpha,minsup)
print("Total frequent items: ", len(frequent_items))
print(frequent_items)

Total frequent items:  19
     ID Support  Freq
0     1  0.2726   166
0    47  0.2545   155
0    50  0.2529   154
0   110  0.2841   173
0   260  0.3071   187
0   296  0.3892   237
0   318  0.4236   258
0   356  0.4072   248
0   480  0.2923   178
0   527  0.2742   167
0   589  0.2808   171
0   593  0.3530   215
0  1196  0.2644   161
0  1198  0.2578   157
0  1210  0.2479   151
0  2571  0.3251   198
0  2858  0.2529   154
0  2959  0.2808   171
0  4993  0.2463   150

*your discussion here*

alpha: 0.1
Total frequent items: 0

alpha: 0.5
Total frequent items: 1

alpha: 0.6
Total frequent items: 4

alpha: 0.8
Total frequent items: 19

alpha: 1
Total frequent items: 69

Since the amount of items from the sample size is smaller than the entire items, there are less frequencies because we are missing many items. However, getting the frequencies from those samples were much faster than getting frequencies from the entire datatsets.

### Step 4: Check for False Positives

Next you should verify that the candidate pairs you discover by random sampling are truly frequent by comparing to the itemsets you discover over the entire dataset. 

For this part, consider another parameter **minsup_sample** that relaxes the minimum support threshold. For example if we want minsup = 1/100 for whole dataset, then try minsup_sample = 1/125 for the sample. This will help catch truly frequent itemsets.

Vary **minsup_sample** and report the number of frequent itemsets you find and the number of false positives you find. What do you discover?

In [24]:
# your code here
alpha = .1
minsup_sample = alpha * (minsup*.8)
frequent_items = apriori_random_sampled(alpha, int(minsup_sample))
print("Minsup              : ", minsup_sample)
print("Total frequent items: ", len(frequent_items))

Minsup              :  12.0
Total frequent items:  81

In [25]:
alpha = .1
minsup_sample = alpha * (minsup * .9)
print("Minsup              : ", int(minsup_sample))
frequent_items = apriori_random_sampled(alpha,int(minsup_sample))
print("Minsup              : ", int(minsup_sample))
print("Total frequent items: ", len(frequent_items))

Minsup              :  13
Minsup              :  13
Total frequent items:  65

In [26]:
alpha = .5
minsup_sample = alpha * (minsup * .75)
frequent_items = apriori_random_sampled(alpha,int(minsup_sample))
print("Minsup              : ", int(minsup_sample))
print("Total frequent items: ", len(frequent_items))

Minsup              :  56
Total frequent items:  78

*your discussion here*

Varing minsup_smaple gives more candidate frequent items from samples compared to Step 3. Items that are frequent in those samples may not be frequent in overall.

### Step 5: Extensions and Next Steps

So far, we have been working with a fairly small dataset. For this last question, try your sampling-based approach on the much larger: **Movies 10M** dataset: https://files.grouplens.org/datasets/movielens/ml-10m.zip

First, we need to load this larger dataset:

In [27]:
import urllib3
import zipfile

http = urllib3.PoolManager()
req = http.request("GET", "https://files.grouplens.org/datasets/movielens/ml-10m.zip", preload_content=False)

with open("movie.zip", 'wb') as out:
  while True:
    data = req.read(4096)
    if not data:
      break
    out.write(data)
req.release_conn()

zFile = zipfile.ZipFile("movie.zip", "r")
for fileM in zFile.namelist():
  zFile.extract(fileM)

In [28]:
! ls ml-10M100K/

README.html      movies.dat       split_ratings.sh
allbut.pl        ratings.dat      tags.dat

In [29]:
import pandas as pd
# read user ratings
allRatings = pd.read_csv("ml-10M100K/ratings.dat",sep='::', names=["userId", "movieId", "rating", "timestamp"], engine='python')
allRatings

          userId  movieId  rating  timestamp
0              1      122     5.0  838985046
1              1      185     5.0  838983525
2              1      231     5.0  838983392
3              1      292     5.0  838983421
4              1      316     5.0  838983392
...          ...      ...     ...        ...
10000049   71567     2107     1.0  912580553
10000050   71567     2126     2.0  912649143
10000051   71567     2294     5.0  912577968
10000052   71567     2338     2.0  912578016
10000053   71567     2384     2.0  912578173

[10000054 rows x 4 columns]

Now you can begin your sampling over this larger dataset.

In [30]:
# your code here
def step_5(allRatings, alpha, minsup):

    random_state=np.random.RandomState(123)

    allRatings = allRatings.sample(frac= alpha, random_state = random_state )

    liked_movies = allRatings[allRatings['rating'] >=3 ]
    
    l = liked_movies.groupby('userId').movieId.apply(list)
    
    new_result, p = apriori_(l, minsup) 
    
    return new_result

alpha= 0.05
minsup = 800

print("Number of Frequent items from sampling: ", len(step_5(allRatings, alpha, minsup)))

Number of Frequent items from sampling:  39

*your discussion here*

Implementing the algorithm with 10M dataset takes much time than the dataset that we used above, so sampling in this case is very useful because it is much faster. When we have a time constraint there could be possibilities that we cannot produce those frequent itemsets. However, Sampling makes us possible to produce frequencies with short amount of time. However, there are still possibilities that we can miss bunch of items.